<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrackSoft.RegExplore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RegExplore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrackSoft.RegExplore.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookAtKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookAtValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LookAtData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchHive" serializeAs="String">
                <value>HKEY_CURRENT_USER</value>
            </setting>
            <setting name="ValWidth1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ValWidth2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ValWidth3" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="ResWidth1" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="ResWidth2" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ResWidth3" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>617, 433</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastKey" serializeAs="String">
                <value/>
            </setting>
        </CrackSoft.RegExplore.Properties.Settings>
        <RegExplore.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookAtKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookAtValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookAtData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchHive" serializeAs="String">
                <value>HKEY_CURRENT_USER</value>
            </setting>
            <setting name="ValWidth1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ValWidth2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ValWidth3" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ResWidth1" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="ResWidth2" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ResWidth3" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>617, 433</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
        </RegExplore.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
